.footer{
	width: 100%;
	text-align: right;
	background-color: #000;
	padding-bottom: 5px;
	position: absolute;
	bottom: 0px;

	& .footer__nav{
		background-color: #000;

		& .footer__nav__list{

			padding-left: 0px;
			width: 80%;
			display: table;
			table-layout: fixed;
			margin: 0 auto;

			& li{
				list-style: none;
				display: table-cell;
				vertical-align: center;
				text-align: center;
				padding: 10px;

				& a{
					color: #fff;
				}
			}
		}
	}
	& p{
		margin: 0px;
		color: #fff;
	}
}