.header{
	
	background-color: darkgray;
	
	& h1{
		margin: 0px;

		& a{
			color: #000;
			font-size: 55px;
		}
	}
	& h2{
		margin-top: 0px;
	}
	& .header__nav{
		background-color: #000;

		& .header__nav__list{

			padding-left: 0px;
			width: 80%;
			display: table;
			table-layout: fixed;
			margin: 0 auto;

			& li{
				list-style: none;
				display: table-cell;
				vertical-align: center;
				text-align: center;
				padding: 20px;

				& a{
					color: #fff;
				}
			}
		}

	}
}